.error-title{
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-size: 350px;
    margin-top: -10px;
}

.redirect{
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: -130px;
}

.redirect-link{
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
