footer{
    margin-left: -8px;
   margin-right :-8px;
   margin-bottom: -10px;

   & .footer{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;

   && p {
        color: white;
    }

    && img{
        width: 10%;
    }


}

}