@import "collapse.scss";
@import "Err404.scss";
@import "footer.scss";
@import "header.scss";
@import "hebergement.scss";
@import "home.scss";
@import "about.scss";

$primary-color :"#FF6060";
$secondsary-color : #F6F6F6;

$primary-font : "Montserrat";



